.env


db.sqlite3
db.sqlite3-journal


__pycache__/
*.py[cod]
*$py.class


venv/
env/
.venv/


/media/


postgres_data/


.vscode/
.idea/
.DS_Store
Thumbs.db

celerybeat-schedule
celerybeat-schedule.*
celerybeat.pid